@cherset "UTF-8";
body,
html {
	width: 100%;
	background-image: url("../img/school.png");
	font-family: "07LogoTypeGothic7";
}

.inner {
	margin: 0 auto;
	width: 1200px;
}

header,
nav,
main,
section {
	width: 100%;
	box-sizing: border-box;
}

header {
	height: 160px;
	background-color: #fff;
}

h1 {
	padding-top: 20px;
	text-align: center;
}

.header {
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

nav {
	height: 60px;
	background-color: #fff;
}

nav li,
h2 {
	font-family: "07LogoTypeGothic7";
	color: #666;
}

.gnav {
	height: 60px;
	list-style: none;
	width: 1000px;
	display: block;
	margin:  0 auto;
}

.gnav li {
	float: left;
	width: 200px;
	height: 50px;
	border-right: 1px #ccc solid;
	box-sizing: border-box;
}


.gnav a {
	line-height: 50px;
	display: block;
	text-decoration: none;
	color: #111;
	font-size: 15px;
	text-align: center;
	box-sizing: border-box;
	position: relative;
	-webkit-transition: all 0.1s ease 0s;
	transition: all 0.1s ease 0s;
}

.gnav li:first-child {
	border-left: 1px #ccc solid;
}

.gnav a:hover {
	color: #48d1cc;
	height: 55px;
	width: 160px;
	border-bottom: 3px #48d1cc solid;
	margin: 0 auto;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

main .inner {
	margin: 0 auto;
	width: 900px;
}

main h2 {
	height: 50px;
	margin-bottom: 10px;
	color: #74bdba;
}

section {
	width: 1000px;
	height: auto;
	box-sizing: border-box;
	margin: 60px auto;
	border: 1px #ddd solid;
	border-radius: 8px;
	background-color: #fff;
	padding: 50px;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

section h2 {
	display: block;
	font-size: 35px;
	height: 35px;
	margin-bottom: 20px;
	line-height: 1.2;
}

#profile img {
	width: 200px;
	height: 250px;
	margin-left: 3rem;
	float: left;
}

#profile .dl {

	margin:  20px auto;
	display: block;
	width: 500px;
	float: left;

}

dt {
	margin-top: 10px;
	text-indent: 3rem;
	font-size: 25px;
	font-family: "07LogoTypeGothic7";
}

dd {
	text-indent: 5rem;
	font-size: 15px;
	font-family: "07LogoTypeGothic7";
	line-height: 20px;
	margin: 5px;
	color: #555;
}

#works {
	min-height: 900px;
}

#works li {
	display: block;
	width: 350px;
	height: 350px;
	float: left;
	margin: 50px 50px;
	list-style: none;
}

#works .work-a,
#works .work-b {
	margin-top: 0;
}

#works li {
	text-align: center;
	font-size: 25px;
	line-height: 2em;
}

#works li img {
	display: block;
	width: 100%;
	border: 2px #bbb solid;
}

.pen div {
	margin: 0 auto 50px;
	width: 800px;
}

.pen div:last-of-type {
	margin-bottom: 0;
}

footer {
	height: 100px;
	background-color: black;
	color: #fff;
	text-align: center;
}

footer small {
	line-height: 100px;
}

.side-nav {
	width: 50px;
	height: 200px;
	margin: auto;
	position: fixed;
	top: 0;
	right: 20px;
	bottom: 0;
}

.side-nav ul {
	padding: 5px;
}

.side-nav li {
	list-style: none;
	margin: 10px;
	width: 20px;
	height: 20px;
}

.side-nav li a {
	background-color: #fff;
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	-webkit-transition: 0.5s linear;
	transition: 0.5s linear;
}

.side-nav li a:hover {
	background-color: #48d1cc;
}